body {
    background: #f9f9f9;
}

header {
    padding-bottom: 38px;
    background-color: white;
}

.header_row {
    padding-top: 102px;
}

.header_img {
    padding-left: 80px;
}


.ul_header {
    gap: 46px;
    font-family: Gilroy;
    font-weight: 550;
    font-size: 17.16px;
}

.header_button {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 22px;
    width: 182px;
    height: 50px;
    border-radius: 5.95px;
    background-color: #75BF7A;
    color: #FFFFFF;
    margin-left: 47px;
}

.download_app {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 60.73px;
    line-height: 65.91px;
}

.main_information {
    padding-top: 27px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #9E9DA2;
}

.main_buttons {
    padding-top: 62px;
    gap: 30px;
}

@media (max-width: 570px) {

    .download_app {
        font-size: 40px;
        line-height: 37.87px;
    }

    .main_information {
        font-size: 18px;
    }

    .header_img {
        padding-left: 20px;
    }

    .main_buttons {
        gap: 8px;
    }
}


