body {
    background: #f9f9f9;
}

header {
    padding-bottom: 38px;
    background-color: white;
}

.header_row {
    padding-top: 102px;
}

.header_img {
    padding-left: 80px;
}


.ul_header {
    gap: 46px;
    font-family: Gilroy;
    font-weight: 550;
    font-size: 17.16px;
}

.header_button {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 22px;
    width: 182px;
    height: 50px;
    border-radius: 5.95px;
    background-color: #75BF7A;
    color: #FFFFFF;
    margin-left: 47px;
}

.download_app {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 60.73px;
    line-height: 65.91px;
}

.main_information {
    padding-top: 27px;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #9E9DA2;
}

.main_buttons {
    padding-top: 62px;
    gap: 30px;
}

.forma {
    height: 166px;
    border-radius: 10px;
    background-color: #75BF7A;

}

.forma p {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 24.6px;
    line-height: 28px;
    color: white;
    padding-left: 72px;
}

.form_wrapper {
    padding-right: 70px;
}

form input {
    color: #DADADA;
    padding-left: 36px;
    height: 67px;
    border-radius: 4.39px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
}

.apply {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 22px;
    line-height: 0px;
    color: white;
    background-color: black;
    height: 67px;
    border-radius: 4.39px;
}

.padding_wrapper {
    padding-left: 80px;
    padding-right: 80px;
}

.phone {
    height: 560px;
    background-image: url("../imgs/krug.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.how_works {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    color: black;
}

.how_works span {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 46.39px;
    line-height: 50.35px;
    color: #75BF7A;
}

.install {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #9E9DA2;
}

.general_info {
    padding-top: 128px;
}

.numbers {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
}

.request {
    font-family: Gilroy;
    font-weight: 800;
    font-size: 22px;
    line-height: 50.35px;
    color: black;
}

.reach_office {
    text-align: right;
}

.reach_office1 {
    text-align: left;
}

.numbers1 {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #9E9DA2;
    padding-top: 93px;
}

.kruzhki {
    padding-top: 63px;
}

@media (max-width: 570px) {

    body {
        background: white;
    }

    .download_app {
        padding-top: 32px;
        font-size: 40px;
        line-height: 37.87px;
    }

    .main_information {
        font-size: 18px;
    }

    .header_img {
        padding-left: 20px;
    }

    .main_buttons {
        padding-top: 24px;
        gap: 4px;
    }

    .forma {
        height: 249px;
    }

    .forma p {
        font-size: 24.6px;
    }

    .padding_wrapper {
        padding-left: 0px;
        padding-right: 0px;
    }

    .forma p {
        padding-left: 18px;
    }

    .padding_wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form_wrapper {
        padding-right: 0px;
    }

    .apply {
        margin-top: 20px;
    }

    .how_works {
        font-family: Gilroy;
        font-weight: 800;
        font-size: 24px;
        line-height: 50.35px;
        text-align: center;
    }

    .install {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    .how_works span {
        font-family: Gilroy;
        font-weight: 800;
        font-size: 24px;
        line-height: 50.35px;
        text-align: center;
    }

    .reach_office {
        text-align: center;
    }

    .reach_office1 {
        text-align: center;
    }

    .numbers1 {
        padding-top: 53px;
    }

    .numbers {
        padding-top: 53px;
    }

}